
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

  *{
    padding:0;
    margin: 0;
    box-sizing: border- box;
    font-family: 'Poppins', sans-serif;
  }

#navbar{
position:sticky;
top: 0;
left: 0;
z-index: 100;
padding:5rem .5rem;
box-shadow:0px 0px 10px 4px rgba(7, 169, 245, 0.5);
/* background:black; */
}
.girly{
font-size: 1.5rem !important;
}
  
  
  
.navbar-brand{
font-size: 25px;
 }

 


























 






.second{
    /* border: 1px solid black; */
    width: 100vw;
    height: 35vh;
}
.second_co{
   /* border: 1px solid black; */
    width: 80vw;
    height: 35vh;
    margin: auto;
}
.second_co1{
    /* border: 1px solid black; */
    width: 35vw;
    height: 30vh;
    float: left;
}
.second_co2{
    /* border: 1px solid black; */
    width: 35vw;
    height: 30vh;
    float: right;
    padding-top: 4vh;
    padding-left: 5vw;
}
.second_co2 > img{
  /* border: 1px solid black; */
    width: 25vw;
    height: 26vh;
    
}
.second_co1 p{
  /* font-size: 1.2rem; */
  
}