@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

  *{
    padding:0;
    margin: 0;
    box-sizing: border- box;
    font-family: 'Poppins', sans-serif;
  }

#navbar{
position:sticky;
top: 0;
left: 0;
z-index: 100;
padding:2rem .3rem;
height:5px !important;
margin-bottom: 10px !important;
/* background-color: tan; */
/* position: fixed; */
/* box-shadow:0px 0px 10px 4px rgba(7, 169, 245, 0.5); */
/* background:black; */
}
.girly{
font-size: 1.7rem !important;
}
  
  
  
.navbar-brand{
font-size: 25px;
 }


.second{
    /* border: 1px solid black; */
    width: 100vw;
    height: 35vh;
    /* background-color:rgb(219, 242, 243); */
    background-color:  rgb(255, 246, 234);
}
.second_co{
   /* border: 1px solid black; */
    width: 80vw;
    height: 35vh;
    margin: auto;
}
.second_co1{
    /* border: 1px solid black; */
    width: 35vw;
    height: 30vh;
    float: left;
}
.second_co2{
    /* border: 1px solid black; */
    width: 35vw;
    height: 30vh;
    float: right;
    padding-top: 4vh;
    padding-left: 5vw;
}
.second_co2 > img{
  /* border: 1px solid black; */
    width: 25vw;
    height: 26vh;
    
}
/* .second_co1 p{
 */
/* } */

#tharsha{
  margin-left: 180px;
  width: 350px;
  height: 350px;
}

.team-galary{
  margin-left: 180px !important;
  background: color #dbddf1  ;
}




.img-gallery{


  width: 33.33%;
  float: left;
  padding: 10px;
  box-sizing: border-box;

}
.img-gallery{
  width:100%;
cursor:pointer;

}
.img-gallery img:hover {
transform:scale(0.8) rotate(-15dge);
border-radius:20px;
box-shadow:0 32px 75px rgba(68 77 136 0.2);

}


.img-nav{
  align-content: center;
  text-align: center;
}

hr{
  width: 20px;
  color: rgb(138, 17, 17) !important;
  margin-left: 600px !important;
  padding-left: 100px;
  
  }
  
/*   
  .img-nav{
    align-content:px;
  
} */

.team-margin{
  margin-left: 150px;
}
.foot{
  background-color: lightblue !important;

}
.product-image:hover{
  border-radius: 20px;
}


#navbar-product{
  background-color: rgb(231, 225, 225) !important;
}